@media screen and (max-width: 1750px){
    .cardcontainer {
        width: 90%;
    }
    .kart {
        width: 170px;
        height: 170px;
    }
    .kart img {
        width: 145px;
    }
    .banner .yazi {
        gap: 40px;
    }
    .banner .yazi h1 {
        font-size: 45px;
    }
    .banner .yazi h3 {
        font-size: 25px;
    }
    .map img {
        width: 170px !important;
        opacity: 0.85;
    }
    .banner {
        background-position: right;        
    }
    .cardsection {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1500px) {
    .container {
        width: 95%;
    }
    .headerleft .gradienth1 {
        font-size: 38px;
        line-height: 60px;
    }
    .cardsection {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 25px;
    }
    .banner .yazi {
        gap: 40px;
    }
    .banner .yazi h1 {
        font-size: 36px;
    }
    .banner .yazi h3 {
        font-size: 22px;
    }
    .map img {
        width: 170px !important;
        opacity: 0.85;
    }
    .banner {
        background-position: right;        
    }
    .righttext p, .lefttext p {
        margin: 0px !important;
    }
    .righttext h1, .lefttext h1 {
        margin: 0px !important;
        text-align: center;
    }
    .blok2 {
        margin-left: 0px !important;
        order: 1 !important;
    }
    .cardcontainer {
        margin-top: 50px;
    }
    .blok1 {
        order: 0 !important;
    }
}

@media screen and (max-width: 1320px) {
    .search {
        display: none;
    }
    .gradienth1 {
        font-size: 25px;
        line-height: 50px;
    }
    .banner .yazi {
        gap: 40px;
    }
    .banner .yazi h1 {
        font-size: 34px;
    }
    .banner .yazi h3 {
        font-size: 20px;
    }
    .map img {
        width: 120px !important;
        opacity: 0.7;
    }
    .kart {
        width: 170px;
        height: 170px;
    }
    .kart img {
        width: 145px;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        display: none;
    }
    .headerleft .gradienth1 {
        font-size: 25px;
        line-height: 50px;
    }
    .btn, .btn1 {
        font-size: 13px;
        line-height: 20px !important;
        width: 75px !important;
        margin-bottom: -4px;
    }
    .container2 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .container2 .map img {
        display: none;
    }
    .map h2 {
        font-size: 7px !important;
    }
    .banner {
        background-position: right;        
    }
    .yazi {
        width: 100% !important;
        align-items: center !important;
        justify-content: end !important;
        gap: 15px !important;
        margin-bottom: 45px;
    }
    .yazi h1 {
        font-size: 31px !important;
    }
    .yazi h3 {
        font-size: 18px !important;
    }
    .section1 {
        height: auto;
    }
    .cardsection {
        margin-top: 50px;
    }
    .cardsection h1 {
        font-size: 25px !important;
    }
    .cardsection p {
        font-size: 13px !important;
    }
    .cardcontainer {
        width: 90% !important;
        height: 800px !important;
    }
    .cardcards {
        width: 100% !important;
        height: 600px !important;
    }
    .kart {
        width: 150px;
        height: 150px;
    }
    .kart img {
        width: 100px;
    }
}   

@media screen and (max-width: 600px) {
    .yazi h1 {
        font-size: 20px !important;
    }
    .yazi h3 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 400px) {
    .yazi h1 {
        font-size: 18px !important;
    }
    .yazi h3 {
        font-size: 11px !important;
    }
    .section1 .cardsection h1 {
        font-size: 15px !important;
    }
    .kart {
        width: 100px;
        height: 100px;
    }
    .kart img {
        width: 80px;
    }
    .cardcontainer {
        width: 90% !important;
        height: auto !important;
    }
    .cardcards {
        width: 100% !important;
        height: 400px !important;
    }
}