body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
* h1, h2,h3, button, p{
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-family: "Phudu", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    
}

header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
    background-color: #000;
}

  /* ****KAPSAYICI**** */
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  /* **** LOGO **** */
.headerleft {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    .gradienth1 {
        font-family: "Phudu", serif;
        background: linear-gradient(350deg, rgba(255,149,149,0.8253502084427521) 0%, rgba(189,0,0,0.8729692560617998) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 100px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }
    }


  /* ****NAVBAR**** */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
   /* **** MENÜ HOVER EFEKTLERİ**** */
.menu ul li {
    position: relative;
    padding: 10px 15px;
}

.menu ul li a {
    font-family: "Phudu", serif;
    font-weight: 340;
    font-size: 20px;
    color: rgb(235, 0, 0);
    text-decoration: none;
    position: relative;
    transition: text-shadow 0.3s ease-in-out;
    z-index: 2;
    
}

.menu ul li a:hover {
    text-shadow: red 0px 0px 5px;
}

  /* **** MENÜ HOVER EFEKTLERİ**** */
.menu ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(360deg, rgba(255, 0, 0, 0.514) 0%, rgba(255,0,0,0) 100%);
    bottom: -20px;
    left: 0;
    border-radius: 5px;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
    z-index: 1; /* Arka planda kalmasını sağlar */
}

.menu ul li:hover::before {
    height: 80px;
    opacity: 1;
}

.headerrigt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;    
    input {
        border: none;
        color: #fff;
        line-height: 30px;
        width: 200px;
        padding-right: 45px;
        font-weight: 100;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0);
        background-image: url(/img/search.svg); 
        background-size: 17px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: right 20px; 
        border-right: rgb(178, 34, 34) 1px solid;
         &:focus {
            outline: none;
            
        }
    }
}

/* *****-GİRİŞ YAP VE KAYIT OL BUTONLARI*****/
.btns {
    display: flex;
    gap: 15px;
    margin-left: 5px;
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.315);
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.384);
        line-height: 30px;
        width: 100px;
        max-height: 31px;
        transition: all 0.5s;
        &:hover {
            background-color: rgba(233, 233, 233, 0.295);
            color: rgb(255, 255, 255);
        }
    }
    .btn1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 0, 0, 0.507);
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 0, 0, 0.507);
        line-height: 30px;
        width: 100px;
        max-height: 31px;
        transition: all 0.5s;
        &:hover {
            background-color: rgb(235, 0, 0);
            color: rgb(255, 255, 255);
        }
    }
}



 /* ***** BANNER SECTİON  ****** */
.banner {
    width: 100%;
    height: 52vh;
    background-image: url(/img/gezegen.png);
    background-size: cover;
    position: relative;
}
/* ***** BANNER İÇERİK ***** */
.banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0,0,0,1) 10%, rgba(255,0,0,0) 100%);
    opacity: 0.7;
    z-index: 1;
    transition: all 0.5s;
}
.banner:hover::before , h1 {
    opacity: 1;
}
.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.container2 .yazi {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 75px;
    color: #fff;
    white-space: nowrap;

    h1 {
        font-size: 55px;
        position: relative;
        z-index: 2;
        opacity: 0.8;
    }
    h3 {
        font-size: 25px;
        position: relative;
        z-index: 2;
        opacity: 0.7;
        
    }
}   

.container2 .map {
    flex:1;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   position: relative;
   z-index: 2;
   img {
        width: 300px;
    }
    h2 {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #fff;
        font-size: 10px;
    }

}

/* **** CARD SECTİON ***** */
.section1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgb(82, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
     .cardsection {
        padding: 50px 0 50px 0;
        width: 90%;
        height: auto;
        border-radius: 20px;
        background-color: #290505;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    /* ***** KART BLOĞU ***** */
.blok1 {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
    background-color: #8b25258a;
    height: auto;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        &:hover hr {
            width: 70%;
        }
}
h1 {
    transition: all 0.5s;
}
.cardcontainer:hover h1 {
    text-shadow: 0 0 3px white ;
}
.cardh1 {
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: white; 
    margin-bottom: 20px;
    margin-top: 20px;
    hr{
            width: 35%;
            border: 2px solid white;
            border-radius: 5px;
            margin-top: 0px;
            transition: all 500ms ease-in-out ;
        }
}
.cardcards {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 40px;
    height: 800px;
    flex-wrap: wrap;
    row-gap: 0px;
    
}
.kart {
    height: 200px;
    width: 200px;
    background-color: #ce2f2f8a;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        background-color: #f02323;
        transform: scale(1.1);
    }
}

    /* ***** TEXT BLOĞU ***** */
.blok2 {
    width: 70%;
    height: 100%;
    color: #fff;
    display: flex;
    margin-left: 100px;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    h1 {
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    hr{
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.068);
        border-radius: 5px;
        margin-top: 10px;
        transition: all 500ms ease-in-out ;
    }
    p {
        font-style: italic;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 350;
        color: rgba(255, 255, 255, 0.716);
    }
}

.righttext {
    margin-right: 50px;   
    h1 {
        margin-left: 200px;
    }
    p {
        margin-left: 100px;
    }
}
.lefttext {
    margin-right: 50px;
    text-align: left;
    h1 {
        margin-left: 50px;
    }
}
